body {
    overflow: hidden;
    background-color: #333333;
}

.title {
    font-family: 'Monofett', cursive;
    position: absolute;
    font-size: 8em;
    transform: translate(-50%, 0%);
    top: -13%;
    left: 50%;
    color: #FFFFFF;
    background: #007eff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title2 {
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 8px 0 0 #000000, -8px 0 0 #000000, 0 8px 0 #000000, 0 -8px 0 #000000, 4px 4px #000000, -4px -4px 0 #000000, 4px -4px 0 #000000, -4px 4px 0 #000000;
}

.vid {
    display: none;
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

#qr-canvas {
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-filter: grayscale(1); 
    filter: gray;
    filter: grayscale(1);
}

.mbtn {
    position: absolute;
    padding: 0.5em;
    bottom: 5%;
    font-size: 2em;
    background-color: transparent;
    color: #007eff;
    border-radius: 2em;
    border-width: 0.2em;
    border-color: #007eff;
}
.cap {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: -moz-radial-gradient(#000000 15%, transparent 16%), -moz-radial-gradient(#000000 15%, transparent 16%), transparent;
    background: -webkit-radial-gradient(#000000 15%, transparent 16%), -webkit-radial-gradient(#000000 15%, transparent 16%), transparent;
    background-position: 0 0, 10px 10px;
    -webkit-background-size:20px 20px;
    -moz-background-size:20px 20px;
    background-size:20px 20px;
}

@media screen and (orientation:landscape) {
    .title {
        font-size: 4em;
        transform: translate(-50%, 0%);
        top: -15%;
        left: 30%;
    }
    
    #qr-canvas {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        top: 50%;
        left: 30%;
        transform: translate(-50%, -50%);
        -webkit-filter: grayscale(1);
        filter: gray;
        filter: grayscale(1);
        filter: contrast(200%);
    }
}